html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.calc {
  display: flex;
  height: 33px;

}

.calc__number {
  width: 95px;
  margin-right: 8px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.calc__operation {
  width: 35px;
  margin-right: 8px;
  font-size: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.calc__btn-submit {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  border-radius: 4px;
  margin-right: 8px;
}

.calc__output {
  line-height: 33px;
  font-size: 20px;
}