html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.main {
	display: flex;
	width: 500px;
	height: 100vh;
	margin: auto;	
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
}

.calc {
	margin-top: 25px;
	margin-bottom: auto;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.calc__number {
	width: 95px;
  margin-right: 8px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 24px;
}

.calc__operation {
  width: 50px;
  margin-right: 8px;
  font-size: 20px;
  border: 1px solid #000000;
}

.calc__btn-submit {
  border: 1px solid #000000;
  font-size: 20px;
  line-height: 24px;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.result {
  line-height: 33px;
  font-size: 20px;
  margin-right: 10px;
}

.history-result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 25px;
}

.history-result-block {
  width: 130px;
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 4px;
}

.history-result-block:hover::before {
  position: absolute;
  right: 17%;
  top: 10%;
  content: 'click to del';
  color: #ffffff;
  text-align: center;
}

.history-result-block:hover {
  cursor: pointer;
  background-color: #be0000;
}

.result_history {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.result_history:hover {
	cursor: pointer;
	background-color: #f10b0b;
}