
.body {
    background-color: #000000;
}

.main_container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 600px;
    border: 10px solid black;
    width: 800px;
    margin-left: 380px;
    border-radius: 105px;
}

.number1 {
    width: 50px;
}

.number2 {
    width: 50px;
}