.content{
    margin-top: 30px;
    margin-left: 475px;
    width: 450px;
    height: 600px;
    padding: 30px;
    font-family: Arial;
    font-size: 16px;
    border: 1px solid black;
}

.content_title
{
    text-align: center;
}

.content_input{
    /*display: flex;*/
    width: 430px;
    border-radius: 15px;
    /*padding: 10px 5px 10px 10px;*/
}

.content_container-Input{
    display: flex;
    border-radius: 15px;
    /*width: 430px;*/
    outline: 1px solid #000;
    margin-top: 15px;
    padding: 5px 5px 10px 10px;
    background-color: blue;
}
.list_point{
    display: flex;
    border-radius: 15px;
    outline: 1px solid #000;
    margin-top: 15px;
    background-color: blue;
}

.text_point{
    display: flex;
    margin: 2px 5px 5px -10px;
    max-width: 320px;
    background-color: red;
}

.input_checkbox{
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 0px;
}

.button_remove{
    display: flex;
    position: relative;
    cursor: pointer;
    left: 390px;
    margin-top: 5px;
    border-style: none;
    font-size: 16px;
    background-color: white;
}

.button_add{
    display: flex;
    /*position: relative;*/
    left: 335px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border-style: none;
    margin-top: -5px;

}

.button_add:hover{
    background-color: blanchedalmond;
}

.button_remove:hover{
    background-color: blanchedalmond;
}