.container{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border:  1px solid black;
    display:  flex;
    flex-direction: column;
    padding-top:  20px;
    align-items:  center;
}
.title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

}
.add-impotant{
    margin-top: 20px;
    background: #FFFFFF;
border: 1px solid #989898;
border-radius: 6px;
width: 460px;
height: 45px;
}
.add-noimpotant{
    margin-top: 20px;
    background: #FFFFFF;
border: 1px solid #989898;
border-radius: 6px;
width: 460px;
height: 45px;
}
.business{ 
    margin-top: 20px;
    width: 460px;
height: 45px;
    border: 1px solid #989898;
border-radius: 6px;
background: #FFFFFF;
}
.close{
    position: absolute;
    left: 65%;
    margin-top: -5px;
    cursor: pointer;
}
.container-input{
    position: relative;
    display: flex;
    flex-direction: row;
}
.add{
    position: absolute;
    left: 90%;
    top:50%;
    cursor: pointer;
}