*{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
}
.calc {
    flex: content;
    text-align: center;
    justify-content: center;
    margin-top: 40vh;
}
p{
    display: inline-block;
    color: white;
}
input{
    width: 75px;
    color: white;
    border-radius: 2px solid white;
    text-align: center;
    
}

.div {
    text-align: center;
    width: 175vh;
    cursor: pointer;
}
