.form{
    width: 400px;
    margin: 0 auto;
}
input[type="text"]{
    height: 33px;
    width: 95px;
    box-sizing: border-box;
}
input[type="submit"]{
    height: 33px;
    width: 39px;
    border-radius: 4px;
    border:0.2px solid black;
    padding:0;
}